.home-page{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 10px;
}
.pagination-div{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  
}
.pagination-menu{
  /* width: 100%; */
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.pagination-div ul li{
  cursor: pointer;
  font-size: 20px;
}

.pagination-div ul li:hover{
  color: red;
}

.note-list{
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fab{
  position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#0C9;
	color:white;
	border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fab .fab-ic{
  width: 24px;
  height: 24px;
}